* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "BluuNext-Bold";
<<<<<<< HEAD
    src: url("/fonts/BluuNext-Bold.otf");
=======
    src: url("../../public/fonts/BluuNext-Bold.otf");
>>>>>>> 1bf2f48 (add font, and global styles of app)
}

@font-face {
    font-family: "Poppins-ExtraLight";
<<<<<<< HEAD
    src: url("/fonts/Poppins-ExtraLight.ttf");
=======
    src: url("../../public/fonts/Poppins-ExtraLight.ttf");
>>>>>>> 1bf2f48 (add font, and global styles of app)
}

@font-face {
    font-family: "Poppins-Regular";
<<<<<<< HEAD
    src: url("/fonts/Poppins-Regular.ttf");
}

:root {
    --font-body: "Poppins-Regular", sans-serif;
    --font-title: "BluuNext-Bold", serif;
=======
    src: url("../../public/fonts/Poppins-Regular.ttf");
>>>>>>> 1bf2f48 (add font, and global styles of app)
}

body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
<<<<<<< HEAD
    min-height: 100vh;
    background-image: url('../assets/poudlardsGradient.png');
    font-family: var(--font-body);
}

h1, h2, h3 {
    font-family: var(--font-title);
=======
    background-image: url('../assets/poudlardsGradient.png');
>>>>>>> 1bf2f48 (add font, and global styles of app)
}

