* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "BluuNext-Bold";
    src: url("/fonts/BluuNext-Bold.otf");
}

@font-face {
    font-family: "Poppins-ExtraLight";
    src: url("/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("/fonts/Poppins-Regular.ttf");
}

body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/poudlardsGradient.png');
}

